<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Trust Analyzer</title>

    <!-- Google Fonts (Clean Version) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">

        <!-- Navbar -->
        <nav class="navbar glass">
            <div class="logo">AI Reviews Analyzer</div>

            <div class="nav-right">
                <button class="profile-btn" onclick="goToProfile()">👤</button>
                <button class="logout-btn" onclick="logout()">↩
</button>
            </div>
        </nav>
        <!-- profile section -->
         <div id="profilePanel" class="profile-panel glass" style="display: none;">
            <h3>User Profile</h3>

            <p><strong>Name:</strong> <span id="profileName"></span></p>
            <p><strong>Email:</strong> <span id="profileEmail"></span></p>
            <p><strong>Joined:</strong> <span id="profileMemberSince"></span></p>
         </div>
         
        <!-- Hero Section -->
        <div class="hero glass">
            <h1>Check Product Trustworthiness</h1>
            <p>Analyze reviews using AI in seconds</p>
        </div>
        <!-- Search Section -->
        <div class="search-box">
            <div class="search-box-input">
                <input type="text" placeholder="Enter product name or URL">
                <button id="search-button">
                    <svg viewBox="0 0 24 24">
                        <path d="M10 2a8 8 0 105.293 14.293l4.707 4.707 
                                 1.414-1.414-4.707-4.707A8 8 0 0010 2zm0 
                                 2a6 6 0 110 12 6 6 0 010-12z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div id ="loading" class="loading-box" style="display: none;">
            <div class="loader"></div>
            <p>Analyzing Reviews...</p>
        </div>
        <!-- Result section -->
         <div class="result-container">
            <div class="result-card glass" id="resultCard">
                <h2>Trust Score</h2>

                <div class="trust-score">
                    <span id="trustPercent">0%</span>
                </div>

                <div class="progress-group">
                    <p>Positive reviews: <span id="positiveValue">0%</span></p>
                        <div class="progress-bar">
                            <div class="progress-fill positive" id="positiveBar"></div>
                        </div>

                        <p>Negative reviews: <span id="negativeValue">0%</span></p>
                        <div class="progress-bar">
                            <div class="progress-fill negative" id="negativeBar"></div>
                        </div>
                </div>

                <div class="authenticity-card">
                    <h3>Review Authenticity</h3>

                    <div class="auth-stats">
                        <div class="auth-box real">
                    <p>
                         ✔ Real Reviews: 
                         <span id="realCount">0</span>
                    </p>
                        </div>
                        <div class="auth-box fake">
                    <p>
                        ⚠ Fake Reviews Detected: 
                        <span id="fakeCount">0</span>
                    </p>
                        </div>
                    </div>                        
                </div>
                <div class="recommendation" id="recommendText">
                    <p class="recommend"> ✅ Recommended to Buy </p>
                </div>
         <div class="ai-disclaimer">
            Note: This trust score is generated by an AI-based review analysis system. 
            Please make purchase decisions at your own discretion.
        </div>
            </div>
         </div>

    </div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>